.carrousel {
    width: 156vh;
    padding-top: 8%;
    padding-left: 23%;
    justify-content: center;
    overflow: hidden;
  
    &__stripe {
      display: flex;
      transition: transform .6s ease;
    }

    &__slider{
        margin-top: 8%;
        margin-left: 41%;
    }

  }