.carrousel {
    width: 50%;
    margin-top: 17%;
    margin-left: 25%;
    justify-content: center;
    overflow: hidden;
  
    &__stripe {
      display: flex;
      transition: transform .6s ease;
    }

    &__slider{
        margin-top: 6%;
        margin-left: 41%;
        transition: transform .6s ease;
    }


}

@media (max-width: 425px){

  .carrousel {
    width: 97%;
    margin-left: 1.7%;
    margin-top: 28%;

    &__slider{
        margin-top: 6%;
        margin-left: 33%;
    }
  }

}