.footer{
    background-image: url("../Resources/footerbackground.jpg");
    height: 60vh;
    background-size: cover;
    justify-content: center; 

    .cont{
        //width:60%;
        //padding: 43px;
        //margin-left: 66px;
        display: flex;
        //justify-content: space-around;

        .logo{
            width: 443px;
            justify-content: center;

            &__img{
                padding-top: 19%;
                width: 81%;
                padding-left: 23%;
            }
        }
    
        .left{
            width: 66%;
            flex-direction: column;
        }
    }
    
}