.mainHeader{
  background-image: url("../Resources/image2.jpg");
  height: 100vh;
  width: 100%;
  background-position: 0% 45%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .header{
    padding-bottom:70vh;
    padding-left: 7vh;
    display: flex;
    flex: row;
    height: 50px;

      &__logo{
        padding: 7%;
        width: 40%;
      }

      &__sections{
        margin: 3.3vh;
        padding-top: 4%;
        font-family: $headerfont;
        color: white;
        text-decoration: none;
      }
  }
  .camera{
    padding-top: 15%;
    padding-left: 3%;
    position: absolute;
    width: 51%;
  }

  .menu{
    display: none;
    width: 13%;
    position: absolute;
    top: 46px;
    left: 39px;
  }

  .banner{
    display: flex;
    flex: row;
    padding-left: 6%;
    padding-top: 10%;

    &__title{
      padding-right: 37%;
      font-family: $font;
      color: white;
      font-size: 4vh;
    }

    &__buttom{
      width: 20vh;
      height: 5vh;
      background-color: $yellow;
      font-family: $font;
      border: 0;
    }
  }

}

@media (max-width: 425px){
  
  .mainHeader{
    height: 78vh;
    background-position: 23% 71%;
    background-size: 198%;

    .header{
      padding-bottom: 61vh;

      &__logo{
        margin-left: 56%;
      }

      &__menu {
        display: block;
        position: absolute;
        left: 37px;
        top: 50px;
    }
  
      &__sections{
        display: none;
      }
    }
  
      .camera{
        padding-top: 39%;
        padding-left: 4.5%;
        width: 67%;
      }
    
      .banner{
  
        &__title{
          display: none;
        }
    
        &__buttom{
          margin-left: 5%;
        
        }
  
      }
  }
  
}

@media (max-width: 360px){
  
  .mainHeader{
    height: 75vh;
    background-size: 218%;
  
      .camera{
        padding-top: 49%;
      }

      .menu{
        display: flex;
      }
  }
  
}