.mainHeader{
  background-image: url("../Resources/header.jpg");
  height: 100vh;
  background-position: 40% 99%;
  display: flex;
  flex-direction: column;
  //height: 717;

  .header{
      padding-bottom:70vh;
      padding-left: 7vh;
      display: flex;
      flex: row;
      height: 50px;

      &__logo{
        padding: 7%;
        width: 40%;
      }

      &__sections{
        //position: relative;
        margin: 3.3vh;
        padding-top: 4%;
        font-family: $headerfont;
        color: white;
        text-decoration: none;
      }
  }
  .camera{
    padding-top: 25%;
    padding-left: 5%;
    position: absolute;
    width: 24%;
  }

  .banner{
    display: flex;
    flex: row;
    padding-left: 7%;

    &__title{
      padding-right: 60%;
      font-family: $bannerfont;
      color: white;
    }

    &__buttom{
      width: 20vh;
      height: 5vh;
      background-color: $yellow;
      font-family: $buttomfont;
      border: 0;
    }
  }

   

}

/*.mainHeader {
  display: flex;
  height: 85vh;
  background-image: url("../Resources/header.jpg");
  background-position: 50% 35%;

  .banner{
      display: flow-root;
  }

}

.Header{

  width: 100%;
  display: flex;

  &__sections{
      font: $headerfont;
  }

  &__logo{
      width: 40%;
      height: 41%;
      padding-bottom: 300px;
  }
}*/

/*.mainHeader {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
  
    &__info {
      padding: 20px;
      display: flex;
      background-color: rgba(34, 34, 34, 0.76);
      color: #ffffff;
      width: 100%;
      align-items: center;
  
      .btn {
        margin-left: auto;
      }
    }
  
    &__title {
      font-size: 30px;
      margin-right: 20px;
    }
  
    &__text {
      max-width: 40%;
    }
  }*/