.mainHeader{
  background-image: url("../Resources/image2.jpg");
  height: 100vh;
  width: 100%;
  background-position: 0% 45%;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .header{
      padding-bottom:70vh;
      padding-left: 7vh;
      display: flex;
      flex: row;
      height: 50px;

      &__logo{
        padding: 7%;
        width: 40%;
      }

      &__sections{
        margin: 3.3vh;
        padding-top: 4%;
        font-family: $headerfont;
        color: white;
        text-decoration: none;
      }
  }
  .camera{
    padding-top: 15%;
    padding-left: 3%;
    position: absolute;
    width: 51%;
  }

  .banner{
    display: flex;
    flex: row;
    padding-left: 6%;
    padding-top: 10%;

    &__title{
      padding-right: 37%;
      font-family: $bannerfont;
      color: white;
      font-size: 4vh;
    }

    &__buttom{
      width: 20vh;
      height: 5vh;
      background-color: $yellow;
      font-family: $buttomfont;
      border: 0;
    }
  }

  @media (max-width: 360px){

  }
}