.newsletter{
    background-image: url("../Resources/newsletterBackground.jpg");
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__cont{
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 63%;
        padding: 182px 85px;
    }

    &__title{
        font-family: $font;
        font-size: 20px;
        color: white;
        padding-right: 26vh;
        font-style: italic;
    }

    &__subscription{
        display: flex;
        justify-content: center;
    }

    &__input{
        border: none;
        height: 30px;

        &::placeholder{
            font-family: $font;
            padding-left: 20px;
        }
    }

    &__button{
        background-color: $black;
        width: 113px;
        height: 30px;
        color: white;
        font-family: $font;
        border: 0;
    }
    
}

@media (max-width: 425px){

    .newsletter{
        height: 50vh;
    
        &__cont{
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 63%;
            padding: 0% 0%;
        }

        &__title{
            padding-right: 0%;
        }

        &__subscription{
            margin-top: 9%;
        }
    }
}

@media (max-width: 360px){

    .newsletter{
        height: 32vh;
    }
}