.promo{
    background-image: url("../Resources/promobackground.jpg");
    height: 100vh;
    background-size: cover;
    
    .contain{
        background-image: url("../Resources/promobackground.jpg");
        height: 100vh;
        background-size: cover;
    }
    .cont{
        
        height: 100%;
        padding-left: 70%;

        &__cont{
            height: 100%;
            width: 77%;
            background-color:$black;
            text-align: center;
        }

        &__title{
            font-weight: lighter;
            font-variant: all-petite-caps;
            padding-top: 59%;
            font-size: 30px;
            font-style: italic;
            letter-spacing: 8px;
        }

        &__info{
            font-size: 26px;
            font-weight: bold;
            margin: 7%;
            margin-top: 14%;
            margin-bottom: 16%;
        }

        &__button{
            width: 151px;
            height: 38px;
            background-color: $yellow;
            font-family: $buttomfont;
            font-size: 16px;
            border: 0;
        }

    }

}

@media (max-width: 425px){

    .promo{
        height: 135vh;

        .cont{
            
            height: 100%;
            padding-left: 0%;
            padding-top: 108%;
            background-image: url("../Resources/promoCamera.jpg");
            background-position: 55% -3%;
            background-size: 176%;
    
            &__cont{
                height: 101%;
                width: 100%;
            }

            &__title{
                padding-top: 13%;
            }
    
            &__info{
                font-size: 131%;
                margin: 9%;
            }
    
        }
    }

}

@media (max-width: 360px){

    .promo{
        height: 114vh;

        .cont{
    
            &__cont{
                height: 135%;
                width: 100%;
            }
    
        }
    }

}