.specs{
    background-image: url("../Resources/SpecsBackground.jpg");
    height: 149vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title{
        font-size: 30px;
        padding-top: 3%;
    }

    .specsBox{
        flex-direction: row;
        margin: 5%;
        margin-top: 12%;

        &__container{
            display: flex;
            padding-left: 22%;
            margin: 12px;
        }

        &__containerLeft{
            font-weight: 600;
            font-size: 17px;
            padding-right: 6%;
            text-align: left;
        }

        &__containerRight{
            font-size: 17px;
            text-align: left;
            width: 65%;
        }
    }
}