

.modal {
    background-image: url("../Resources/SpecsBackground.jpg");
    width: 85%;
    height: 100%;
    background-size: cover;
    display: flex;
    font-family: $font;
    color: $white;
    flex-direction: column;
    top: 0;
    transform: translate(-100%,0);
    transition: 0.3s ease-in-out;
    position: fixed;

    &--move{
        transform: translate(0,0);
        transition: 0.3s ease-in;
    }

    &__specs{
        display: flex;
        margin-top: 28px;
    }

    &__container{
        width: 70%;
        margin: auto;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }

    &__title {
        border-bottom: 1px solid #515a62;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 87%;
        padding-right: 44px;
        font-weight: 500;

        &--last {
            border-bottom: none;
        }
    }

    &__info {
        border-bottom: 1px solid #515a62;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 80%;

        &--last {
            border-bottom: none;
        }
    }
}